<header class="site-header">
  <nav class="nav" x-data="{ open: false }">
    <div class="container nav__inner">
      <a href="{{ '/' | prepend: site.baseurl }}" class="nav__logo">
        {{ site.data.site.ranch.name }}
      </a>

      <!-- Hamburger button (mobile) -->
      <button
        class="nav__toggle"
        x-on:click="open = !open"
        :aria-expanded="open.toString()"
        aria-label="Toggle navigation"
      >
        <span class="nav__toggle-bar"></span>
        <span class="nav__toggle-bar"></span>
        <span class="nav__toggle-bar"></span>
      </button>

      <!-- Nav links -->
      <ul class="nav__links" :class="{ 'nav__links--open': open }">
        <li><a href="{{ '/' | prepend: site.baseurl }}" class="nav__link">Home</a></li>
        <li><a href="{{ '/products/' | prepend: site.baseurl }}" class="nav__link">Products</a></li>
        <li><a href="{{ '/about/' | prepend: site.baseurl }}" class="nav__link">About</a></li>
        <li><a href="{{ '/contact/' | prepend: site.baseurl }}" class="nav__link">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
